* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'VT323', monospace;
}

html, body {
    width: 100%;
    height: calc(100% - 10px);
    font-family: 'VT323', monospace;
    color: #ffffff;
}

body {
    background-color: #000000;
    text-align: center;
}

.gameScreen {
    background-color: #000000;
    width: 1000px;
    height: 600px;
    margin:  20px auto 0 auto;
    border: 2px dashed #ffffff;
}

.gameScreen > p {
    white-space: pre-wrap;
    line-height: 100%;
    color: #44f514;
    margin: 70px auto 40px auto;

}

#startScreen > button {
    border: 0;
    background-color: #000000;
    font-size: 32px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    text-align: center;
}

#startScreen > button:hover{
    font-size: 31px;
}

#buttons {
    text-align: center;
}

button{
    border: 0;
    background-color: #000000;
    line-height: 40px;
    font-size: 32px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover{
    font-size: 31px;
}

.displayNone{
    display: none;
}

#pontuacoes p{
    color: blue;
}
#creditos p{
    color: yellow;
}

#screen1 {
    width: 100%;
    height: 450px;
    position: relative;
    
}

p {
    font-size: 20px;
}

#screen2 {
    width: 100%;
    height: 117.2px;
    border: 0px;
    border-top: 2px dashed #ffffff;

}

.text {
    height: max-content;
    position: absolute;
    bottom: 0px;

}

.options, .texto {
    text-align: left;
    margin-left: 5px;
    font-size: 24px;
}

input, input:focus{
    outline: none;
    color: #ffffff;
    background-color: #000000;
    font-size: 24px;
    height: 32.8px;
    
}

#inputPlayer {
    border: 1px solid white;
    width: 200px;
    margin-bottom: 30px;
}

/*#inputUrso, #inputPortao, #inputCastelo1, #inputCastelo2, #inputCastelo3, 
#inputSalaoTrono, #inputDragaoAcordou, #inputCalabouco, #inputCaminhoEsquerda, #inputPuzzle,
#inputCaminhoDireita, #inputCaminhoDireitaParte2, #inputNecromancer1, #inputNecromancer2, #inputGenio, 
#inputPassagemSecreta1_espada, #inputPassagemSecreta1_bau, #inputPassagemSecreta2, #inputPuzzleMorcegoCapturado{
    border: 0px;
    border-top: 2px dashed #ffffff;
    border-bottom: 2px dashed #ffffff;
    width: 100%;}*/


.inputOptions{
    border: 0px;
    border-top: 2px dashed #ffffff;
    border-bottom: 2px dashed #ffffff;
    width: 100%;
}

.img {
    text-align: center;
    height: auto;
    margin: auto;
}
.img p {
    white-space: pre-wrap;
    line-height: 100%;
    width: max-content;
    margin: auto;
    text-align: justify;
}

#gameOverImg, #gameOverText{
    height: max-content;
}
